<section class="container_section_criar_conta">
    <h2>Crie sua conta na <strong>Funny&reg;</strong></h2>
    <p>e venha se divertir.</p>
    <form id="form_criar_conta" action="/registerAccount" method="post" enctype="multipart/form-data">
        <input class="inputs_email_senha" type="text" name="userName" placeholder="Nome" required>
        <input class="inputs_email_senha" type="email" name="userEmail" placeholder="Email" required>
        <input class="inputs_email_senha" type="password" name="userPassword" placeholder="Senha" required>
        <div class="container_checkBoxCreateAccount">
            <input type="checkbox" name="checkBoxCreateAccount" id="checkBoxCreateAccount">
            <p>Eu aceito a zueira da Funny.</p>
        </div>
        <input class="btn_submit_criar_conta" type="submit" value="Criar conta">
    </form>
</section>