<div class="section_email_used">
    <h3>O email <strong style="color: rgb(60, 60, 255);">"{{userEmail}}"</strong> jรก existe.<h3>
    <br>
    <h4>Por favor tente um email diferente.</h4>
    <img id="homem-aranha-meme" src="/assets/img_memes/homem-aranha-meme-apontando.webp">
</div>