<div class="section_user_fucked">
    <h3 style="color: gray;">EMAIL ou SENHA incorretos.</h3>
    <h2>Acesso negado!<h2>
    <h1 style="color: red;">SE FUDEU!</h1>
    <img id="gif_se_fudeu" src="/assets/gifs/se_fudeu.gif">
</div>