<div class="section_user_fucked">
    <h3>Acesso negado!<h3>
    <h2 style="color: red;">SE FUDEU!</h2>
    <img id="gif_se_fudeu" src="/assets/gifs/se_fudeu.gif">
    <p>Para ter acesso é necessário fazer</p>
    <strong><a style="text-decoration: underline; color: blue" href="/">Login</a></strong>
</div>