<section class="container_section_login">
    <div class="container_titulo_page_login">

        <img class="funny_logo" src="/assets/logoFunny/logoFunnyBgTransparent/iconFunny192x192.png" alt="Logo Funny">
        
        <div class="container_titulo">
            <p class="bem_vindo">Bem vindo à</p>
            <h1>Funny</h1>
            <p class="descricao_funny">A rede social divertida.</p>
        </div>

    </div>

    <form id="form_login" action="/login" method="post">
        <h2>Login</h2>
        <input class="inputs_email_senha" type="email" name="userEmail" placeholder="Email" required>
        <input class="inputs_email_senha" type="password" name="userPassword" placeholder="Senha" required>
        <a class="btn_criar_conta" href="/criar_conta">Criar conta</a>
        <input class="btn_submit_login" type="submit" value="Entrar">
    </form>

</section>