<section class="section_notAcceptTerms">
    <p>Para criar sua conta, é obrigatório aceitar a zueira da Funny pelos seguintes motivos:</p>
    <h3>A Funny usa memes, piadas, expressões, termos e etc... "politicamente incorretos", podendo assim ofender algumas pessoas.</h3>
    <p>Caso você não concorde com isso, <strong>NÃO</strong> abra uma conta na Funny.</p>
    <p>A Funny é uma rede social feita para pessoas que não tem frescura mimimi.</p>
    <img src="/assets/img_memes/mimimi.jpg" alt="mimimi">
    <h2>Dito isso, você decide se abre ou não uma conta na Funny.</h2>
</section>