@charset "utf-8";

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* LIGHT MODE */

:root{
    --p: #000;
    --destaque1: #0075de;
    --destaque2: #0AFFEB;
    --destaque3: #004077;
    --subtitulo: #778899;
    --secundaria: #1696FF;
    --bg_primary:#fbfbfe;
    --bg_second: #f5f5f7;
    --bg_third: #d3d3d38a;
    --branco: #fff;
    --preto: #000;
}

/* CLASS DARK MODE */

.darkMode:root{
    --p: #afadad;
    --destaque1: #0075de;
    --destaque2: #0AFFEB;
    --destaque3: #004077;
    --subtitulo: #778899;
    --secundaria: #1696FF;
    --bg_primary: #202124;
    --bg_second: #2b2a33;
    --bg_third: #272727;
    --branco: #000;
    --preto: #fff;
}

html, body{
    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--bg_primary);
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    /* box-shadow: 0 0 .625rem #000000c3; */
    box-shadow: 0 0 .3125rem #a8a8a8;
    width: 100%;
    height: 3.75rem;
    padding: .3125rem .625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #link_logo_funny_header{
    color: var(--destaque1);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_funny{
    width: 3.125rem;
}

main{
    /* background-color: lightblue; */
    padding: 3.125rem 1.25rem;
    width: 100%;
}

/* SECTION LOGIN */
.container_section_login{
    width: 61.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container_titulo_page_login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bem_vindo{
    color: var(--p);
}

.container_titulo_page_login h1{
    color: var(--destaque1);
    font-size: 3.125rem;
    font-weight: bold;
}

.descricao_funny{
    color: var(--subtitulo);
}

#form_login{
    background-color: var(--bg_primary);
    border: 0.0625rem solid var(--destaque1);
    box-shadow: 5px 5px 10px #0000002a;
    border-radius: .625rem;
    max-width: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 2.5rem 1.25rem;
}

#form_login h2{
    text-align: center;
    color: var(--destaque1);
}

#form_login .inputs_email_senha{
    background-color: var(--bg_primary);
    color: var(--p);
    padding: 0.1875rem 0.3125rem;
    border: transparent;
    border-bottom: 0.0625rem solid var(--subtitulo);
}

#form_login .inputs_email_senha:focus{
    border-bottom: 0.0625rem solid transparent;
    outline-style: groove;
    outline-color: var(--destaque1);
    border-radius: 0.3125rem;
}

.nao_tem_conta_funny{
    font-size: .93rem;
    margin-top: 1.2rem;
    color: var(--subtitulo);
}

#form_login .btn_criar_conta{
    color: var(--secundaria);
    font-weight: bold;
    margin-top: 1.25rem;
    width: max-content;
}

#form_login .btn_criar_conta:hover{
    text-decoration: underline;
    color: var(--destaque1);
}

#form_login .btn_submit_login{
    background-color: var(--destaque1);
    color: var(--branco);
    font-weight: 900;
    border-radius: 0.3125rem;
    padding: 0.1875rem 0.3125rem;
    border: none;
}

#form_login .btn_submit_login:hover{
    background-color: var(--secundaria);
    color: #fff;
    cursor: pointer;
}

/* PAGE FUCKED */

.section_user_fucked{
    /* background-color: lightblue; */
    text-align: center;
}

#gif_se_fudeu{
    width: 200px;
    max-width: 100%;
}

/* SECTION CRIAR CONTA */
.container_section_criar_conta{
    max-width: max-content;
    margin: 0 auto;
}

.container_section_criar_conta h2{
    text-align: center;
    color: var(--subtitulo);
}

.container_section_criar_conta h2 strong{
    color: var(--destaque1);
    font-weight: bold;
}

.container_section_criar_conta p{
    color: var(--subtitulo);
}

#form_criar_conta{
    background-color: var(--bg_primary);
    border: 0.0625rem solid var(--destaque1);
    box-shadow: 5px 5px 10px #0000002a;
    margin-top: 1.25rem;
    border-radius: .625rem;
    max-width: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 2.5rem 1.25rem;
}

#form_criar_conta .inputs_email_senha{
    background-color: var(--bg_primary);
    color: var(--p);
    padding: 0.1875rem 0.3125rem;
    border: transparent;
    border-bottom: 0.0625rem solid var(--subtitulo);
}

#form_criar_conta .inputs_email_senha:focus{
    border-bottom: 0.0625rem solid transparent;
    outline-style: groove;
    outline-color: var(--destaque1);
    border-radius: 0.3125rem;
}

.container_checkBoxCreateAccount{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3125rem;
}

.container_checkBoxCreateAccount #checkBoxCreateAccount:hover{
    cursor: pointer;
}

#form_criar_conta .btn_submit_criar_conta{
    background-color: var(--destaque1);
    margin-top: .625rem;
    color: #f5f5f7;
    font-weight: 900;
    border-radius: 0.3125rem;
    padding: 0.1875rem 0.3125rem;
    border: none;
}

#form_criar_conta .btn_submit_criar_conta:hover{
    background-color: var(--secundaria);
    color: #fff;
    cursor: pointer;
}

/* SECTION EMAIL USED */

.section_email_used{
    text-align: center;
}

#homem-aranha-meme{
    max-width: 100%;
    margin-top: 1.25rem;
}

/* SECTION HOME */

#menu_config_profile{
    background-color: var(--branco);
    border: 1px solid var(--secundaria);
    padding: 1.25rem;
    position: absolute;
    top: 3.8125rem;
    right: -18.75rem;
    transition: .3s ease;
}

.items_menu_profile{
    padding: .3125rem;
    margin: .625rem 0;
}

.icons_menu{
    color: var(--destaque1);
    font-size: 1.3rem;
    margin-right: .3125rem;
}

.icon_exit{
    color: #dd1414;
}

.items_menu_profile a{
    color: var(--subtitulo);
    font-size: 1.2rem;
}

.items_menu_profile a:hover{
    color: var(--destaque1);
    text-decoration: underline;
}

#icon_config_profile:hover{
    cursor: pointer;
    color: var(--destaque1);
}
    
#menu_config_profile.showMenu{
    right: 0;
}

.select_img_icon{
    color: var(--destaque1);
    font-size: 1.125rem;
}

.container_section_home{
    /* background-color: var(--bg_third); */
    /* max-width: 61.25rem; */
    /* position: relative; */
    max-width: 43.75rem;
    margin: 0 auto;
    min-height: 100vh;
}

#form_searchProfileDB{
    /* background-color: lightblue; */
    /* max-width: fit-content; */
    max-width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3125rem;
    border: 1px solid var(--subtitulo);
    border-radius: .3125rem;
    outline-color: var(--destaque1);
}

.h2_notFound{
    color: var(--destaque1);
}

#input_searchUserProfileName{
    width: 100%;
    padding: .3125rem;
    border: none;
    border-radius: .3125rem;
}

#input_searchUserProfileName:focus{
    border: 1px solid var(--destaque1);
    outline-style: groove;
    outline-color: var(--destaque1);
}

.icon_clear_field_searchProfile{
    color: var(--subtitulo);
    margin: 0 .3125rem;
}

.icon_clear_field_searchProfile:hover{
    cursor: pointer;
    color: var(--secundaria);
}

#icon_searchProfile:hover{
    cursor: pointer;
    color: var(--secundaria);
}

.container_section_foundProfiles{
    max-width: 45rem;
    margin: 0 auto;
}

.h2_foundProfile{
    margin: 1.25rem 0;
    color: var(--subtitulo);
}

/* #list_foundProfiles{

} */

#list_foundProfiles li{
    background-color: var(--bg_third);
    padding: .625rem;
    border-radius: .625rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .3125rem;
    margin: .625rem 0;
}

#img_foundProfile{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--subtitulo);
    margin: 0 .625rem;
}

#userProfile_foundProfile{
    color: var(--destaque1);
    font-size: 18px;
    text-transform: capitalize;
}

#userProfile_foundProfile:hover{
    cursor: pointer;
    color: var(--secundaria);
    text-decoration: underline;
}

.container_boas_vindas_home{
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}

.container_section_home h1{
    color: var(--subtitulo);
    text-align: center;
}

.welcome_user_name{
    color: var(--destaque1);
    text-transform: uppercase;
}

#profilePic_header{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: .1s ease;
}

#profilePic_header:hover{
    cursor: pointer;
    border: 2px solid var(--secundaria);
    /* transform: scale(1.2); */
}

.container_userName_header{
    /* background-color: lightgoldenrodyellow; */
    position: absolute;
    top: .625rem;
    right: .625rem;

    display: flex;
    /* justify-content: right; */
    justify-content: center;
    align-items: center;
    gap: .625rem;
    /* background-color: lightcoral; */
}

.list_notifications{
    /* background-color: lightblue; */
    border: 1px solid var(--bg_third);
    text-align: right;
    display: none;
    padding: .3125rem;
    margin-bottom: 1.25rem;
}

.list_notifications.showNotifications{
    display: block;
}

#icon_close_notifications{
    color: var(--destaque1);
    font-size: 25px;
    text-align: right;
}

#icon_close_notifications:hover{
    cursor: pointer;
    color: var(--secundaria);
}

.list_notifications li{
    background-color: var(--bg_third);
    text-align: left;
    border-radius: .3125rem;
    padding: .625rem 1.25rem;
    /* text-align: left; */
    margin: 1.25rem;
}

.container_img_userName_notification{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .3125rem;
}

#img_notifications{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border: 1px solid var(--subtitulo);
    border-radius: 50%;
    /* transition: .1s ease; */
}

.user_name_notification{
    color: var(--destaque1);
}

.container_btn_acceptFriend{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.25rem;
    margin-top: .625rem;
}

.btn_acceptFriend{
    background-color: var(--destaque1);
    color: var(--branco);
    border-radius: .3125rem;
    padding: .1875rem .625rem;
}

.btn_acceptFriend:hover{
    cursor: pointer;
    background-color: var(--secundaria);
}

#btn_rejectFriend{
    background-color: var(--subtitulo);
    border: 1px solid transparent;
}

#btn_rejectFriend:hover{
    background-color: var(--subtitulo);
    border: 1px solid var(--secundaria);
}

.icon_notification_true{
    color: var(--destaque1);
    font-size: 1.125rem;
    margin-right: .3125rem;
}

.icon_notification_true:hover{
    cursor: pointer;
    color: var(--secundaria);
}

.icon_notification_false{
    color: var(--subtitulo);
    font-size: 1.125rem;
    margin-right: .3125rem;
}

.icon_notification_false:hover{
    cursor: pointer;
    color: var(--destaque1);
}

.container_userName_header .user_name{
    color: var(--destaque1);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.default_icon{
    color: var(--subtitulo);
    font-size: 1.875rem;
}

/* FORM PUBLISH */

#formPub{
    /* background-color: lightgoldenrodyellow; */
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    margin: 30px 0;
}

#textAreaPub{
    width: 100%;
    /* background-color: #afadad; */
    resize: vertical;
    border-radius: 0.3125rem;
    padding: .3125rem;
    outline-color: var(--destaque1);
    border: 1px solid var(--subtitulo);
}

#textAreaPub:focus{
    border: 1px solid transparent;
}

.container_btn_file_submit{
    /* background-color: #0000000c; */
    margin-top: .625rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: .3125rem;
}

.container_selecionar_foto{
    /* background-color: var(--bg_third); */
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: .3125rem;
}

#label_file_pub{
    /* background-color: var(--bg_third); */
    color: var(--p);
    border: 1px solid var(--bg_third);
    padding: .3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
}
    
#label_file_pub:hover{
    cursor: pointer;
}

#name_img_pub{
    /* background-color: lightcoral; */
    color: var(--secundaria);
}

#btn_submit_pub{
    background-color: var(--secundaria);
    color: #FFF;
    font-size: .875rem;
    font-weight: bold;
    letter-spacing: .125rem;
    border-radius: 0.3125rem;
    padding: .3125rem .625rem;
    border: none;
}

#btn_submit_pub:hover{
    background-color: var(--destaque1);
    cursor: pointer;
}

#container_pub{
    margin: 3.125rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pub{
    background-color: #FFF;
    width: 100%;
    margin: 3.125rem 0;
    /* border: 1px solid var(--secundaria); */
    border: 1px solid var(--bg_third);
    border-radius: 0.3125rem;
    padding: .625rem;
}

.info_pub{
    padding: .3125rem;
}

.user_name_pub{
    text-transform: capitalize;
    text-align: left;
    color: var(--secundaria);
    font-size: 1rem;
    margin-top: .625rem;
}

.user_name_pub:hover{
    cursor: pointer;
    color: var(--destaque1);
    text-decoration: underline;
}

.title_pub{
    text-align: left;
    color: #272727;
    /* color: var(--subtitulo); */
    font-style: italic;
    font-size: 1.125rem;
    /* margin: .625rem 0; */
}

.date_pub{
    text-align: left;
    color: var(--subtitulo);
    font-size: .75rem;
}

#img_pub{
    /* max-width: 42.3rem;
    height: 42.3rem; */
    /* width: 31.25rem;
    height: 31.25rem; */
    width: 100%;
    height: auto;
    background-color: #0000000c;
    padding: .3125rem;
    object-fit: cover;
    margin: 0 auto;
}

.container_btns_like{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    
.btns_like_comment{
    color: var(--subtitulo);
    font-size: 1.5625rem;
}

.btns_like_comment:hover{
    cursor: pointer;
    color: var(--destaque1);
}

/* SECTION PROFILE */

.container_section_profile{
    /* background-color: lightblue; */
    /* position: relative; */
    padding: .625rem;
    /* max-width: 67.5rem; */
    max-width: 87.5rem;
    margin: 0 auto;
    min-height: 100vh;
}

.container_profile_pic{
    /* background-color: lightgray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profilePic_profile{
    background-color: #d3d3d3;
    border: 1px solid var(--secundaria);
    border-radius: 50%;
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
}

.info_user_profile{
    color: rgb(52, 52, 173);
    margin-top: .625rem;
}

.info_user_profile:hover{
    cursor: pointer;
    text-decoration: underline;
}

#form_profilePic{
    /* background-color: lightblue; */
    max-width: fit-content;
    margin-top: .625rem;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}

#form_profilePic.showFormEditProfile{
    display: flex;
}

#inputNewProfileName{
    background-color: #FFF;
    color: var(--p);
    border: 1px solid var(--bg_third);
    border-radius: .3125rem;
    /* border: none; */
    padding: .3125rem;
    font-size: 1rem;
}

#inputNewProfileName:focus{
    outline-style: groove;
    outline-color: var(--destaque1);
}

#label_file_profilePic{
    background-color: #FFF;
    width: 100%;
    color: var(--subtitulo);
    border: 1px solid var(--bg_third);
    border-radius: .3125rem;
    padding: .3125rem;
    font-size: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.3125rem;
}
    
#label_file_profilePic:hover{
    cursor: pointer;
}

.container_btns_send_edit_profile{
    /* background-color: lightblue; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3125rem;
}

#btn_submit_profilePic{
    background-color: var(--secundaria);
    color: #FFF;
    font-size: .875rem;
    font-weight: bold;
    letter-spacing: .125rem;
    border-radius: 0.3125rem;
    padding: .3125rem .625rem;
    margin-top: .3125rem;
    border: none;
}

#btn_submit_profilePic:hover{
    background-color: var(--destaque1);
    cursor: pointer;
}

#btn_cancel_submit_profilePic{
    background-color: var(--subtitulo);
    color: #FFF;
    font-size: .875rem;
    font-weight: bold;
    letter-spacing: .125rem;
    border-radius: 0.3125rem;
    padding: .3125rem .625rem;
    margin-top: .3125rem;
    border: 1px solid transparent;
}

#btn_cancel_submit_profilePic:hover{
    background-color: #686868;
    cursor: pointer;
    border: 1px solid var(--secundaria);
}

#btn_editProfile{
    background-color: transparent;
    color: var(--subtitulo);
    font-size: .875rem;
    font-weight: bold;
    letter-spacing: .125rem;
    border-radius: 0.3125rem;
    padding: .3125rem .625rem;
    margin-top: .625rem;
    border: none;
}

#btn_editProfile:hover{
    cursor: pointer;
    color: var(--secundaria);
    text-decoration: underline;
}

#publicacoes_user{
    color: var(--destaque1);
    text-align: center;
    font-weight: bold;
    margin: 2rem 0;
}

.publicacoes_user{
    text-align: center;
    color: var(--subtitulo);
    font-size: 1.125rem;
    /* font-weight: bold; */
    margin: 1.25rem 0;
}

#userName_publicacoes_user{
    text-transform: capitalize;
    color: var(--destaque1);
}

#container_pub_profile{
    background-color: #fff;
    border: 1px solid var(--bg_third);
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
    gap: 1rem;
    max-width: 87.5rem;
    margin: 0 auto;
    /* padding: 1rem; */
}

#pub_profile{
    border-radius: .3125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.container_info_pub{
    width: 17.5rem;
    text-align: left;
}

#img_pub_profile{
    border: 1px solid var(--bg_third);
    width: 17.5rem;
    height: 17.5rem;
    object-fit: cover;
}

.btn_go_top{
    display: none;
    color: var(--destaque1);
    font-size: 3rem;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
}

.btn_go_top:hover{
    cursor: pointer;
    color: var(--secundaria);
}

footer{
    color: var(--subtitulo);
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.logomarca{
    color: transparent;
}

.logo-animado{
    font-size: 1.2em;
    color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.logo-animado:hover{
    color: var(--destaque1);
    transition: 0.3s ease-in-out;
}

.developer{ 
    color: var(--subtitulo);
    font-weight: 500;
    font-style: italic;
}

.gilberto{ 
    color: var(--destaque1);
    font-weight: bold;
    font-style: italic;
}

.maior-menor{
    -webkit-text-stroke: 1px var(--destaque1);
    font-size: 2em;
    font-weight: bold;
}

.maior-menor:hover{
    color: varvar(--destaque1);
}

.registrada{
    color: var(--destaque1);
}