<footer>
    <img class="logo_funny" src="/assets/logoFunny/logoFunnyBgTransparent/iconFunny192x192.png" alt="Logo Funny">
    <p>Funny&reg; - All rights reserved 2024. &copy;Copy Right</p>
    <p>Criado e desenvolvido por:</p>
    <a class="logomarca" href="https://developer-gilberto.github.io/portifolio-gilberto/" target="_blank" rel="noopener noreferrer">
        <p class="logo-animado">
            <span class="maior-menor">&lt;</span>
            <span class="developer">Developer</span>
            <span class="gilberto">Gilberto</span>
            <span class="maior-menor">&gt;</span><span class="registrada">&reg;</span>
        </p>
    </a>
</footer>