<header>
    <a id="link_logo_funny_header" href="/home">
        <img class="logo_funny" src="/assets/logoFunny/logoFunnyBgTransparent/iconFunny192x192.png" alt="Logo Funny">
        Funny&reg;
    </a>
</header>