<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funny_beta</title>
    <link rel="shortcut icon" href="/assets/faviconFunny/faviconFunnyBgWhite.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/icons/remix_icons/remixicon.css">
    <link rel="stylesheet" href="/css/styleDesktop.css">
    <link rel="stylesheet" href="/css/styleMobile.css" media="screen">
    <script defer src="/js/scripts.js"></script>
</head>
<body>
    <header>
        <a id="link_logo_funny_header" href="/home">
            <img class="logo_funny" src="/assets/logoFunny/logoFunnyBgTransparent/iconFunny192x192.png" alt="Logo Funny">
            Funny&reg;
        </a>
        {{#if user}}
        {{!--ATENÇÃO =>>> app.use(express.static(__dirname + "/db/uploads"));--}}
        {{!-- <img id="img_perfil_header" src="/profilePic/{{profilePic}}" alt="Foto de perfil"> --}}
            <div class="container_userName_header">
                <strong class="user_name">{{user.user_name}}</strong> 
                <i id="icon_config_profile" class="default_icon ri-user-settings-line"></i>
                <i class="default_icon ri-chat-3-line"></i>
            </div>
        {{/if}}
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <img class="logo_funny" src="/assets/logoFunny/logoFunnyBgTransparent/iconFunny192x192.png" alt="Logo Funny">
        <p>Funny&reg; - All rights reserved 2024. &copy;Copy Right</p>
    </footer>
</body>
</html>