<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funny_Beta</title>
    <link rel="shortcut icon" href="/assets/faviconFunny/faviconFunnyBgWhite.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style_desktop.css">
    <link rel="stylesheet" href="/css/style_mobile.css" media="screen">
    <script defer src="/js/scripts.js"></script>
</head>
<body>
    <header>
        <a id="link_logo_funny_header" href="/">
            <img class="logo_funny" src="/assets/logoFunny/logoFunnyBgTransparent/iconFunny192x192.png" alt="Logo Funny">
            Funny&reg;
        </a>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <img class="logo_funny" src="/assets/logoFunny/logoFunnyBgTransparent/iconFunny192x192.png" alt="Logo Funny">
        <p>Funny&reg; - All rights reserved 2024. &copy;Copy Right</p>
    </footer>
</body>
</html>